/*BASE*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body
	background: blue;
	font-size: 16px;
	
a
	color: green
	text-decoration: none;
	
.container
	center(xlarge)
	width 100%;
	
	display: flex;