<template name="product_form_pdf">
	<div class="ui three column grid">
		<div class="column">
			<div class="ui secondary segment">
				<h4>Option</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum rem cumque assumenda minima nesciunt voluptatem.</p>
				<a href="#" class="ui fluid positive button button--pdf">Create PDF</a>
			</div>
		</div>
		<div class="column">
			<div class="ui secondary segment">
				<h4>Option</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum rem cumque assumenda minima nesciunt voluptatem.</p>
				<a href="#" class="ui fluid positive button button--pdf">Create PDF</a>
			</div>
		</div>
		<div class="column">
			<div class="ui secondary segment">
				<h4>Option</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum rem cumque assumenda minima nesciunt voluptatem.</p>
				<a href="#" class="ui fluid positive button button--pdf">Create PDF</a>
			</div>
		</div>
	</div>
</template>