<template name="product_form_add">
	{{#autoForm collection="Products" id="product_form_add" class="ui form" type="insert"}}
		<!-- DETAILS -->
		<h3 class="ui header">Details</h3>
		{{> product_formfield_model}}
		{{> product_formfield_cartype}}
		{{> product_formfield_geartype}}
		{{> product_formfield_fueltype}}

		<h3 class="ui header">Condition</h3>
		{{> product_formfield_kilometers}}
		{{> product_formfield_built}}
		{{> product_formfield_wof}}
		{{> product_formfield_reg}}

		<h3 class="ui header">Price and Description</h3>
		{{> product_formfield_price}}
		{{> product_formfield_description}}
		
		<!-- KONTAKT -->
		<h3 class="ui header">Contact</h3>
		{{> product_formfield_email}}
		{{> product_formfield_number}}
		
		<!-- IMAGES -->
		<h3 class="ui header">Images</h3>
		<div class="ui grid">
			<div class="doubling four column row">
				<div class="four wide column">{{> product_formfield_image_side}}</div>
				<div class="four wide column">{{> product_formfield_image_front}}</div>
				<div class="four wide column">{{> product_formfield_image_infront}}</div>
				<div class="four wide column">{{> product_formfield_image_inback}}</div>
			</div>
		</div>

		<!-- CONTROLS -->
		<div class="ui divider"></div>
		<a href="/" class="ui basic button">Cancel</a>
		<button class="ui right floated positive button" type="submit">Submit</button>
	{{/autoForm}}
</template>