<!-- SIDEIMAGE -->
	<template name="product_formfield_image_side">
		{{#if sideImageUploadRequest}}
			<div class="field">
				<input class="fileinput fileinput--side" type="file" name="file" id="file-side" accept="image/*"> 
				<label for="file-side">Side view</label>
			</div>
		{{else}}
			{{> product_outputfield_image_side}}
			<div class="removeimage removeimage--side"><i class="ion-android-close"></i>delete</div>
		{{/if}}
	</template>

<!-- FRONTIMAGE -->
	<template name="product_formfield_image_front">
		{{#if frontImageUploadRequest}}
			<div class="field">
				<input class="fileinput fileinput--front" type="file" name="file" id="file-front" accept="image/*"> 
				<label for="file-front">Front view</label>
			</div>
		{{else}}
			{{> product_outputfield_image_front}}
			<div class="removeimage removeimage--front"><i class="ion-android-close"></i>delete</div>
		{{/if}}
	</template>

<!-- INFRONTIMAGE -->
	<template name="product_formfield_image_infront">
		{{#if inFrontImageUploadRequest}}
			<div class="field">
				<input class="fileinput fileinput--infront" type="file" name="file" id="file-infront" accept="image/*"> 
				<label for="file-infront">InFront view</label>
			</div>
		{{else}}
			{{> product_outputfield_image_infront}}
			<div class="removeimage removeimage--infront"><i class="ion-android-close"></i>delete</div>
		{{/if}}
	</template>

<!-- INBACKIMAGE -->
	<template name="product_formfield_image_inback">
		{{#if inBackImageUploadRequest}}
			<div class="field">
				<input class="fileinput fileinput--inback" type="file" name="file" id="file-inback" accept="image/*"> 
				<label for="file-inback">InBack view</label>
			</div>
		{{else}}
			{{> product_outputfield_image_inback}}
			<div class="removeimage removeimage--inback"><i class="ion-android-close"></i>delete</div>
		{{/if}}
	</template>




<!-- MODEL -->
	<template name="product_formfield_model">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='model'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='model'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Model" data-content="Enter the Brand and the type of Car. For example Toyota Estima or Honda Odyssey.">
					Model
				</div>
				{{> afFieldInput name='model' id='model' placeholder="Toyota Estima, Honda Odyssey..."}}
			</div>
		</div>
	</template>

<!-- CARTYPE -->
	<template name="product_formfield_cartype">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='cartype'}}
			<span class="ui pointing below label">Woops, you missed something! Please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='cartype'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Cartype" data-content="Please choose what type of Car you are selling. This helps people find and filter through all offers.">
					Cartype
				</div>
				{{> afFieldInput name='cartype' id='cartype' options='allowed' firstOption="Select one..."}}
			</div>
		</div>
	</template>

<!-- GEARTYPE -->
	<template name="product_formfield_geartype">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='geartype'}}
			<span class="ui pointing below label">Woops, you missed something! Please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='geartype'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Geartype" data-content="Pretty simple. Choose manual or automatic.">
					Geartype
				</div>
				{{> afFieldInput name='geartype' id='geartype' options='allowed' firstOption="Select one..."}}
			</div>
		</div>
	</template>

<!-- FUELTYPE -->
	<template name="product_formfield_fueltype">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='fueltype'}}
			<span class="ui pointing below label">Woops, you missed something! Please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='fueltype'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Fueltype" data-content="Pretty simple as well. Choose petrol, diesel or other.">
					Fueltype
				</div>
				{{> afFieldInput name='fueltype' id='fueltype' options='allowed' firstOption="Select one..."}}
			</div>
		</div>
	</template>

<!-- KILOMETERS -->
	<template name="product_formfield_kilometers">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='kilometers'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='kilometers'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Kilometers" data-content="Yup! Just enter the number. Be honest to keep it fair for everyone.">
					Kilometers
				</div>
				{{> afFieldInput name='kilometers' id='kilometers' placeholder="schemaLabel"}}
			</div>
		</div>
	</template>

<!-- BUILT -->
	<template name="product_formfield_built">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='built'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='built'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Build Date" data-content="Please enter the year your car was built. Be honest. Keep it fair.">
					Build Date
				</div>
				{{> afFieldInput name='built' id='built' placeholder="Year"}}
			</div>
		</div>
	</template>

<!-- WOF -->
	<template name="product_formfield_wof">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='wof'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='wof'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="Warrant of Fitness (WOF)" data-content="Enter the expiry date of the last Warrant of Fitness. You find it on the sticker on your windshield.">
					WOF till
				</div>
				{{> afFieldInput name='wof' id='wof'}}
			</div>
		</div>
	</template>

<!-- REG -->
	<template name="product_formfield_reg">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='reg'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='reg'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="Vehicle Registration (REG)" data-content="Enter the expiry date of the last Vehicle Registration.">
					REG till
				</div>
				{{> afFieldInput name='reg' id='reg'}}
			</div>
		</div>
	</template>

<!-- PRICE -->
	<template name="product_formfield_price">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='price'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='price'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About the Askingprice" data-content="How much would you like to have for your car. In New Zealand Dollars.">
					Askingprice
				</div>
				{{> afFieldInput name='price' id='price' placeholder="in $NZD"}}
			</div>
		</div>
	</template>

<!-- DESCRIPTION -->
	<template name="product_formfield_description">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='description'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='description'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="Describe your Offer" data-content="Describe your Car and the Equipment that comes with it. If there is damage somewhere write it down as well. This keeps things fair. Thanks!">
					Description
				</div>
				{{> afFieldInput name='description' id='description' rows=12 placeholder="Max: 1000 Characters"}}
			</div>
		</div>
	</template>

<!-- EMAIL -->
	<template name="product_formfield_email">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='email'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='email'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About your Email" data-content="Your email will only be visible until you mark your car as sold or you remove your offer.">
					Email
				</div>
				{{> afFieldInput name='email' id='email' placeholder="schemaLabel"}}
			</div>
		</div>
	</template>

<!-- NUMBER -->
	<template name="product_formfield_number">
		<!-- Validation -->
		{{#if afFieldIsInvalid name='number'}}
			<span class="ui pointing below label">Something went wrong, please check!</span>
		{{/if}}
		<!-- Label & Input -->
		<div class="field {{#if afFieldIsInvalid name='number'}} error{{/if}}">
			<div class="ui labeled input">
				<div class="ui label has-tooltip" data-title="About your Number" data-content="Your number will only be visible until you mark your car as sold or you remove your offer.">
					Mobile
				</div>
				{{> afFieldInput name='number' id='number' placeholder="schemaLabel"}}
			</div>
		</div>
	</template>