<template name="product_form_edit">
	{{#autoForm collection="Products" id="product_form_edit" class="form form--product_edit" type="update" doc=this}}
		<!-- IMAGES -->
		<span class="form__headline">Images</span>
		<!-- SIDEIMAGE -->
			<div class="form__group form__group--half">
				{{#if sideImageChangeRequest}}
					{{> product_formfield_image_side}}
				{{else}}
					{{> product_outputfield_image_side}}
					<div class="imagechanger imagechanger__side"><i class="ion-close"></i></div>
				{{/if}}
			</div>
		<!-- FRONTIMAGE -->
			<div class="form__group form__group--half">
				{{#if frontImageChangeRequest}}
					{{> product_formfield_image_front}}
				{{else}}
					{{> product_outputfield_image_front}}
					<div class="imagechanger imagechanger__front"><i class="ion-close"></i></div>
				{{/if}}
			</div>
		<!-- INFRONTIMAGE -->
			<div class="form__group form__group--half">
				{{#if inFrontImageChangeRequest}}
					{{> product_formfield_image_infront}}
				{{else}}
					{{> product_outputfield_image_infront}}
					<div class="imagechanger imagechanger__infront"><i class="ion-close"></i></div>
				{{/if}}
			</div>
		<!-- INBACKIMAGE -->
			<div class="form__group form__group--half">
				{{#if inBackImageChangeRequest}}
					{{> product_formfield_image_inback}}
				{{else}}
					{{> product_outputfield_image_inback}}
					<div class="imagechanger imagechanger__inback"><i class="ion-close"></i></div>
				{{/if}}
			</div>

		<!-- DETAILS -->
		<span class="form__headline">Details</span>
		{{> product_formfield_model}}
		{{> product_formfield_cartype}}
		{{> product_formfield_geartype}}
		{{> product_formfield_fueltype}}

		<span class="form__headline">Condition</span>
		{{> product_formfield_kilometers}}
		{{> product_formfield_built}}
		{{> product_formfield_wof}}
		{{> product_formfield_reg}}

		<span class="form__headline">Price and Description</span>
		{{> product_formfield_price}}
		{{> product_formfield_description}}
		
		<!-- KONTAKT -->
		<span class="form__headline">Kontakt</span>
		{{> product_formfield_email}}
		{{> product_formfield_number}}	

		<!-- CONTROLS -->
		<div class="form__controls">
			<a class="button button--silent" href="/">Abbrechen</a>
			<button class="button" type="submit">Submit</button>
		</div>
	{{/autoForm}}
</template>