<!-- SIDEIMAGE -->
	<template name="product_outputfield_image_list">
		<a href="/products_detail/{{this._id}}/{{this.model}}">
			{{#each sideimages}}
				<img class="ui image" src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
			{{/each}}
		</a>
	</template>

<!-- SIDEIMAGE -->
	<template name="product_outputfield_image_side">
		{{#each sideimages}}
			<a href="{{this.url store='images'}}" target="_blank">
				<img class="ui rounded image" src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
			</a>
		{{/each}}
	</template>

<!-- FRONTIMAGE -->
	<template name="product_outputfield_image_front">
		{{#each frontimages}}
			<a href="{{this.url store='images'}}" target="_blank">
				<img class="ui rounded image" src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
			</a>
		{{/each}}
	</template>

<!-- INFRONTIMAGE -->
	<template name="product_outputfield_image_infront">
		{{#each infrontimages}}
			<a href="{{this.url store='images'}}" target="_blank">
				<img class="ui rounded image" src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
			</a>
		{{/each}}
	</template>

<!-- INBACKIMAGE -->
	<template name="product_outputfield_image_inback">
		{{#each inbackimages}}
			<a href="{{this.url store='images'}}" target="_blank">
				<img class="ui rounded image" src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
			</a>
		{{/each}}
	</template>

<!-- MODEL -->
	<template name="product_outputfield_model">
		<div class="content">
			<div class="item">
				<div class="header">
					Modell:
				</div>
				<div class="description">
					{{model}}
				</div>
			</div>
		</div>
	</template>

<!-- CARTYPE -->
	<template name="product_outputfield_cartype">
		<div class="item">
			<div class="ui horizontal label">Cartype:</div> {{cartype}}
		</div>
	</template>

<!-- GEARTYPE -->
	<template name="product_outputfield_geartype">
		<div class="item">
			<div class="ui horizontal label">Geartype:</div> {{geartype}}
		</div>
	</template>

<!-- FUELTYPE -->
	<template name="product_outputfield_fueltype">
		<div class="item">
			<div class="ui horizontal label">Fueltype:</div> {{fueltype}}
		</div>
	</template>

<!-- BUILT -->
	<template name="product_outputfield_built">
		<div class="item">
			<div class="ui horizontal label">Baujahr:</div> {{built}}
		</div>
	</template>

<!-- KILOMETERS -->
	<template name="product_outputfield_kilometers">
		<div class="item">
	 				<div class="ui horizontal label">Kilometers:</div>	{{kilometers}}
		</div>
	</template>

<!-- WOF -->
	<template name="product_outputfield_wof">
		<div class="item">
			<div class="ui horizontal label">WOF:</div> {{wof}}
		</div>
	</template>

<!-- REG -->
	<template name="product_outputfield_reg">
		<div class="item">
			<div class="ui horizontal label">REG:</div> {{reg}}
		</div>
	</template>

<!-- PRICE -->
	<template name="product_outputfield_price">
		<div class="item">
			<div class="ui horizontal label">Preis:</div> {{price}}
		</div>
	</template>

<!-- DESCRIPTION -->
	<template name="product_outputfield_description">
		<div class="item">
			 <div class="ui horizontal label">Description:</div> {{description}}
		</div>
	</template>

<!-- EMAIL -->
	<template name="product_outputfield_email">
		<div class="item">
			<div class="ui horizontal label">Email:</div> {{email}}
		</div>
	</template>

<!-- NUMBER -->
	<template name="product_outputfield_number">
		<div class="item">
			<div class="ui horizontal label">Nummer:</div> {{number}}
		</div>
	</template>