<!-- SIDEIMAGE -->
	<template name="product_outputfield_image_side">
		<div class="ui small image">
			{{#each sideimages}}
				<a href="{{this.url store='images'}}" target="_blank">
					<img src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
				</a>
			{{/each}}
		</div>
	</template>

<!-- FRONTIMAGE -->
	<template name="product_outputfield_image_front">
		<div class="ui small image">
			{{#each frontimages}}
				<a href="{{this.url store='images'}}" target="_blank">
					<img src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
				</a>
			{{/each}}
		</div>
	</template>

<!-- INFRONTIMAGE -->
	<template name="product_outputfield_image_infront">
		<div class="ui small image">
			{{#each infrontimages}}
				<a href="{{this.url store='images'}}" target="_blank">
					<img src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
				</a>
			{{/each}}
		</div>
	</template>

<!-- INBACKIMAGE -->
	<template name="product_outputfield_image_inback">
		<div class="ui small image">
			{{#each inbackimages}}
				<a href="{{this.url store='images'}}" target="_blank">
					<img src="{{this.url store='thumbs' uploading='/loader-uploading.gif' storing='/loader-storing.gif'}}" alt="thumbnail">
				</a>
			{{/each}}
		</div>
	</template>

<!-- MODEL -->
	<template name="product_outputfield_model">
		Modell: {{model}}
	</template>

<!-- CARTYPE -->
	<template name="product_outputfield_cartype">
		Cartype: {{cartype}}
	</template>

<!-- GEARTYPE -->
	<template name="product_outputfield_geartype">
		Geartype: {{geartype}}
	</template>

<!-- FUELTYPE -->
	<template name="product_outputfield_fueltype">
		Fueltype: {{fueltype}}
	</template>

<!-- BUILT -->
	<template name="product_outputfield_built">
		Baujahr: {{built}}
	</template>

<!-- KILOMETERS -->
	<template name="product_outputfield_kilometers">
		Kilometers: {{kilometers}}
	</template>

<!-- WOF -->
	<template name="product_outputfield_wof">
		WOF: {{wof}}
	</template>

<!-- REG -->
	<template name="product_outputfield_reg">
		REG: {{reg}}
	</template>

<!-- PRICE -->
	<template name="product_outputfield_price">
		Preis: {{price}}
	</template>

<!-- DESCRIPTION -->
	<template name="product_outputfield_description">
		Beschreibung: {{description}}
	</template>

<!-- EMAIL -->
	<template name="product_outputfield_email">
		Email: {{email}}
	</template>

<!-- NUMBER -->
	<template name="product_outputfield_number">
		Nummer: {{number}}
	</template>