<template name="product_form_edit">
	{{#autoForm collection="Products" id="product_form_edit" class="ui form" type="update" doc=this}}
		
		<!-- DETAILS -->
		<h3 class="ui header">Details</h3>
		{{> product_formfield_model}}
		{{> product_formfield_cartype}}
		{{> product_formfield_geartype}}
		{{> product_formfield_fueltype}}

		<h3 class="ui header">Condition</h3>
		{{> product_formfield_kilometers}}
		{{> product_formfield_built}}
		{{> product_formfield_wof}}
		{{> product_formfield_reg}}

		<h3 class="ui header">Price and Description</h3>
		{{> product_formfield_price}}
		{{> product_formfield_description}}
		
		<!-- KONTAKT -->
		<h3 class="ui header">Contact</h3>
		{{> product_formfield_email}}
		{{> product_formfield_number}}	

		<!-- IMAGES -->
		<h3 class="ui header">Images</h3>
		<!-- SIDEIMAGE -->
		{{#if sideImageUploadRequest}}
			{{> product_formfield_image_side}}
		{{else}}
			{{> product_outputfield_image_side}}
			<div class="removeimage__side"><i class="ion-close"></i></div>
		{{/if}}
		<!-- FRONTIMAGE -->
		{{#if frontImageUploadRequest}}
			{{> product_formfield_image_front}}
		{{else}}
			{{> product_outputfield_image_front}}
			<div class="removeimage__front"><i class="ion-close"></i></div>
		{{/if}}
		<!-- INFRONTIMAGE -->
		{{#if inFrontImageUploadRequest}}
			{{> product_formfield_image_infront}}
		{{else}}
			{{> product_outputfield_image_infront}}
			<div class="removeimage__infront"><i class="ion-close"></i></div>
		{{/if}}
		<!-- INBACKIMAGE -->
		{{#if inBackImageUploadRequest}}
			{{> product_formfield_image_inback}}
		{{else}}
			{{> product_outputfield_image_inback}}
			<div class="removeimage__inback"><i class="ion-close"></i></div>
		{{/if}}

		<!-- CONTROLS -->
		<div class="ui divider"></div>
		<div class="ui buttons">
			<a href="/" class="ui button">Cancel</a>
			<button class="ui positive button" type="submit">Save</button>
		</div>
	{{/autoForm}}
</template>