<!-- PRODUCT CARD -->
	<template name="product_card">
		<article class="card">
			<!-- CONTENT -->
			<div class="content">
				{{> product_availability_label}}
				<strong>{{model}}</strong>
			</div>
			<!-- IMAGE -->
			<div class="ui fluid image">
				{{> product_outputfield_image_list}}
				{{> product_outputfield_wof_reg_indicator_label}}
			</div>
			<!-- CONTENT -->
			<div class="content">
				<div class="ui divided relaxed list">
					{{ > product_outputfield_built}}
					{{ > product_outputfield_kilometers}}
					{{ > product_outputfield_price}}
				</div>
			</div>
			<!-- CONTROLS -->
			<div class="extra content">
				<div class="ui left floated buttons">
					{{> product_favorite}}
				</div>
				<div class="ui right floated basic buttons">
					{{> product_controls}}
					{{> product_readmore}}
				</div>
			</div>
		</article>
	</template>