<template name="form_products_add">
	<form class="form form--products_add">
		<span class="form__headline">Details</span>
		<label class="form__label">Model</label>
		<input class="form__input" type="text" name="model" value="">
		<label class="form__label">Kilometers</label>
		<input class="form__input" type="text" name="kilometers" value="">
		<label class="form__label">Built</label>
		<input class="form__input" type="text" name="built" value="">
		<label class="form__label">WOF</label>
		<input class="form__input" type="text" name="wof" value="">
		<label class="form__label">REG</label>
		<input class="form__input" type="text" name="reg" value="">
		<label class="form__label">Price</label>
		<input class="form__input" type="text" name="price" value="">
		<label class="form__label">Description</label>
		<textarea class="form__input form__input--area" name="description" value=""></textarea>
		<button class="form__button" type="submit">Nächster Schritt</button>

		<a href="my_products_add_success">Create</a>
		<a href="/">Cancel</a>
	</form>
</template>