<template name="form_account_login">
	<!-- FACEBOOK -->
	<button class="account_login_facebook">Login with Facebook</button>
	<!-- FORM -->
	<form class="form form--account_login">
		<label class="form__label">Email</label>
		<input class="form__input" type="email" name="email" value="">
		<label class="form__label">Password</label>
		<input class="form__input" type="password" name="password" value="">
		<button class="form__button" type="submit">Login</button>                       
	</form>
	<!-- CONTROLS -->
	<a href="account_signup">Switch to: Signup</a>
</template>