<template name="mnav">
	<nav class="mnav">
		{{#if currentUser}}
			<div class="mnav__user">
				{{currentUser.profile.name}}
			</div>
			<div class="mnav__dropdown">
				<i class="ion-more"></i>
				<div class="mnav__dropdown__content">
					<a class="mnav__link" href="/products_add_rules">Neues Angebot</a>
					<a class="mnav__link" href="/my_products">Meine Angebote</a>
					<a class="mnav__link logout" href="#">Logout</a>
				</div>
			</div>
		{{else}}
			<a class="mnav__link" href="/account_login">Login</a>
		{{/if}}
	</nav>
</template>