<template name="product_list">
	<article class="product">
		<div class="product__content">
			<div class="product__listimage">
				Image
			</div>
			<div class="product__details">
				<h1 class="product__title">{{model}}</h1>
				<div class="grid grid--half">
					<div class="grid">
						<div class="product__label">Kilometers</div>
						<div class="product__detail">{{kilometers}}</div>
					</div>
					<div class="grid">
						<div class="product__label">Baujahr</div>
						<div class="product__detail">{{built}}</div>
					</div>
				</div>
				<div class="grid grid--half">
					<div class="grid">
						<div class="product__label">WOF</div>
						<div class="product__detail">{{wof}}</div>
					</div>
					<div class="grid">
						<div class="product__label">REG</div>
						<div class="product__detail">{{reg}}</div>
					</div>
				</div>
				<div class="grid">
					<div class="product__label">Preis</div>
					<div class="product__detail">{{price}}</div>
				</div>
			</div>
		</div>
		<div class="product__controls">
			<a class="product__button product__button--silent product__button--remove">Remove</a>
			<a class="product__button" href="products_detail">Ansehen</a>
		</div>
	</article>
</template>