.button
	align-self: flex-end;
	background: green;
	padding: 10px 15px;
	color: #FFF;
	border: none;
	border-radius: radius;
	cursor: pointer;
	
	&.button--silent
		background: grey;
		color: black2;
		
	&.button--facebook,
	&.button--google
		align-self: stretch;