.form
	display: flex;
	flex-direction: column;
	
	.form__headline
		font-weight bold;
		color: black;
		
	.form__label
		font-size: size-small;
		
	.form__input
		padding: 5px;
		margin-bottom padding;
		border: border;