.form
	display: flex;
	flex-direction: column;
	
	.form__headline
		font-weight bold;
		color: black;
		margin: padding 0;
		
	.form__label
		color: grey2;
		font-size: size-small;
		margin-bottom: 3px;
		
	.form__input
		padding: 8px;
		margin-bottom padding;
		border: border;
		border-radius: radius;
		
		&.form__input--area
			min-height: 150px;
			line-height 1.5;
			
	.form__button
		align-self: flex-end;
		background: green;
		padding: 10px 15px;
		color: #FFF;
		border: none;
		border-radius: radius;