.form
	display: flex;
	flex-direction: column;
	
	.form__headline
		font-weight bold;
		color: black;
		margin: padding 0;
	
	.form__row
		display: flex;
		flex: 1;
		margin-bottom padding;
		
		&.form__row--half
			flex-direction: row;
			
			.form__row
				margin-bottom: 0;
				
				&:first-child
					margin-right: 5px;
				
				&:last-child
					margin-left: 5px;
			
			
	.form__label
		width: 100px;
		background: grey;
		font-size: size-small;
		padding: 9px 0 0 8px;
		border: border;
		border-right: none;
		border-top-left-radius: radius;
		border-bottom-left-radius: radius;
		cursor: pointer;
		
		&:after
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 100px;
			
	.form__input
		flex: 1;
		padding: 8px;
		outline: none;
		border: border;
		border-top-right-radius: radius;
		border-bottom-right-radius: radius;
		
		&.form__input--area
			min-height: 150px;
			line-height 1.5;
		
	.form__controls
		display: flex;
		justify-content: space-between;
		
	.form__button
		align-self: flex-end;
		background: green;
		padding: 10px 15px;
		color: #FFF;
		border: none;
		border-radius: radius;
		
