.grid
	display: flex;
	flex: 1;
	margin-bottom padding;
	
	&.grid--half
		flex-direction: row;
		
		.grid
			margin-bottom: 0;
			
			&:first-child
				margin-right: 5px;
			
			&:last-child
				margin-left: 5px;