.mnav
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	
	.mnav__link
		padding: 0 padding;
		
		&:last-child
			padding-right: 0;
	
	// DROPDOWN
	.mnav__dropdown
		position: relative;
		cursor: pointer;
		color: green;
	
		&.mnav__dropdown--active .mnav__dropdown__content
			display: block;
			
	.mnav__dropdown__content
		display: none;
		width: 180px;
		background: #FFF;
		position: absolute;
		right: 0;
		margin: 18px 0 0 0;
		padding: padding;
		border-top: 3px solid green;
		box-shadow: shadow2;
		border-radius: radius;
		
		i 
			color: green;
			float right;
			
		a 
			display: block;
			color: black;
			padding: padding 0;
			border-bottom: border;
			
			&:first-child
				padding-top: 0;
				
			&:last-child
				padding-bottom: 0;
				border-bottom: none;