.panel
	background #fff;
	box-shadow: shadow;
	border-radius: radius;
	overflow hidden;
	
	.panel__title
		padding: padding;
		background grey;
		font-size: 17px;
		font-weight: bold;
		margin: 0;
		color: black;
		
	.panel__content
		display: flex;
		flex-direction: column;
		padding: padding;
		color: black2;