.product
	display: flex;
	flex-direction: column;

	&.product--listview
		margin-bottom padding;
		
		&:last-child
			margin-bottom: 0;

	.product__title
		font-size: 24px;
		color: black;
		font-weight: bold;
		margin: 0 0 padding 0;
		padding: 0 0 10px 0;
		border-bottom: border;
	
	.product__content
		display: flex;
		flex-direction: column;
		flex: 1;
		
	// LISTVIEW
	.product__listwrapper
		display: flex;
	
	.product__listimage
		width: 200px;
	
	// DETAILS
	.product__headline
		font-weight bold;
		color: black;
		margin: padding 0;
		
	.product__label
		width: 110px;
		background: grey;
		font-size: size-small;
		padding: 9px 0 0 8px;
		border: border;
		border-radius: radius;
		line-height: 1.5;

	.product__detail
		flex: 1;
		padding: 8px;
		line-height: 1.5;
	
	// CONTROLS
	.product__controls
		display: flex;
		justify-content: flex-end;
		align-items: center;