//------------------------------------------------------------------------------------
// MAIN
//------------------------------------------------------------------------------------

	// SETUP--------------------------------------------------------------------------
		@import 'nib';
		@import 'axis';
		@import 'jeet';
		@import 'rupture';

		normalize-css();

	// VARIABLES----------------------------------------------------------------------
		black 	= #333333;
		black2 	= #555555;
		green 	= #49BE39;
		blue 	= #AEDBED;
		red  	= #EC471C;
		grey 	= #EEEEEE;
		grey2 	= #AAAAAA;

		shadow 	= 0px 1px 5px rgba(0, 0, 0, 0.25);
		shadow2 = 0px 4px 6px rgba(0, 0, 0, 0.3);
		border 	= 1px solid #E5E5E5;
		radius 	= 2px;
		padding = 15px;

		size-small 	= 14px;
		size-normal = 16px;
		size-big 	= 25px;

	// BREAKPOINTS--------------------------------------------------------------------
		xlarge  = 1100px;
		large 	= 800px;
		medium 	= 600px;
		small 	= 400px;
		scale 	= 0 small medium large xlarge;

	// PARTIALS-----------------------------------------------------------------------
		@import 'client/styles/base.styl';

		@import 'client/styles/grid.styl';
		@import 'client/styles/panel.styl';
		@import 'client/styles/button.styl';
		@import 'client/styles/loader.styl';

		@import 'client/styles/form.styl';

	// FINISHED COMPONENTS------------------------------------------------------------
		@import 'client/components/account/account.styl';
		@import 'client/components/filter/filter.styl';
		@import 'client/components/header/header.styl';
		@import 'client/components/logo/logo.styl';
		@import 'client/components/mnav/mnav.styl';
		@import 'client/components/product/product.styl';
		@import 'client/components/product/product_images.styl';
		@import 'client/components/product/product_controls.styl';