/*BASE*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body
	background: url(bg-body.png) repeat-x center -10px fixed;
	background-color: blue;
	font-size: 16px;

h1, h2, h3, h4, h5, h6
	margin-top: 0;
	color: black;

p 
	color: black2;
	
a
	color: green
	text-decoration: none;
	
.container
	center(xlarge)
	width 100%;
	
	display: flex;
	
.main 
	flex: 1;
	
.sidebar
	width: 30%; 
	margin-left: 20px;
	