.form
	display: flex;
	flex-direction: column;
	
	// DETAILS
	.form__headline
		font-weight bold;
		color: black;
		margin: padding 0;
	
	.form__label
		width: 110px;
		background: grey;
		font-size: size-small;
		padding: 9px 0 0 8px;
		border: border;
		border-right: none;
		border-top-left-radius: radius;
		border-bottom-left-radius: radius;
		cursor: pointer;
			
	.form__input
		flex: 1;
		padding: 8px;
		outline: none;
		border: border;
		border-top-right-radius: radius;
		border-bottom-right-radius: radius;
		
		&.form__input--area
			min-height: 150px;
			line-height 1.5;
		
	// CONTROLS
	.form__controls
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
