<template name="sidebar_products">
	<aside class="panel sidebar">
		<!-- TITLE -->
		<h1 class="panel__title">
			{{#if currentUser}}
				Hi {{currentUser.profile.name}}
			{{else}}
				About
			{{/if}}
		</h1>
		<!-- CONTENT -->
		<div class="panel__content">
			{{#if currentUser}}
				Willkommen
				<a href="/products_add_rules">Neues Angebot</a>
				<a href="/my_products">Meine Angebote</a>
			{{else}}
				How-To + About
				<a href="/account_login">Login to Sell</a>
			{{/if}}
		</div>
	</aside>
</template>