<template name="form_products_add">
	<form class="form form--products_add">
		<!-- DETAILS -->
		<span class="form__headline">Details</span>
		{{> formfield_model}}
		{{> formfield_kilometers}}
		{{> formfield_built}}
		<div class="grid grid--half">
			{{> formfield_wof}}
			{{> formfield_reg}}
		</div>
		{{> formfield_price}}
		{{> formfield_description}}
		
		<!-- KONTAKT -->
		<span class="form__headline">Kontakt</span>
		<div class="grid grid--half">
			{{> formfield_email}}
			{{> formfield_number}}	
		</div>
		
		<!-- IMAGES -->
		<span class="form__headline">Bilder</span>
		{{> formfield_image_side}}
		{{> formfield_image_front}}
		{{> formfield_image_infront}}
		{{> formfield_image_inback}}
		
		<!-- CONTROLS -->
		<div class="form__controls">
			<a class="button button--silent" href="/">Abbrechen</a>
			<button class="button" type="submit">Veröffentlichen</button>
		</div>
	</form>
</template>