<template name="form_account_login">
	<!-- FACEBOOK -->
	<button class="button button--facebook account_login_facebook">Login with Facebook</button>
	<p>--or--</p>
	<!-- FORM -->
	<form class="form form--account_login">
		{{> formfield_account_email}}
		{{> formfield_account_password}}
		<!-- CONTROLS -->
		<div class="form__controls">
			<a class="button button--silent" href="account_signup">Switch to: Signup</a>
			<button class="button" type="submit">Login</button>
		</div>                     
	</form>
</template>