<!-- DETAILS -->
<template name="formfield_model">
	<div class="grid">
		<label class="form__label" for="model">Model</label>
		<input class="form__input" type="text" name="model" id="model" value="">
	</div>
</template>

<template name="formfield_built">
	<div class="grid">
		<label class="form__label" for="built">Baujahr</label>
		<input class="form__input" type="text" name="built" id="built" value="">
	</div>
</template>

<template name="formfield_kilometers">
	<div class="grid">
		<label class="form__label" for="kilometers">Kilometers</label>
		<input class="form__input" type="text" name="kilometers" id="kilometers" value="">
	</div>
</template>

<template name="formfield_wof">
	<div class="grid">
		<label class="form__label" for="wof">WOF</label>
		<input class="form__input" type="text" name="wof" id="wof" value="">
	</div>
</template>

<template name="formfield_reg">
	<div class="grid">
		<label class="form__label" for="reg">REG</label>
		<input class="form__input" type="text" name="reg" id="reg" value="">
	</div>
</template>

<template name="formfield_price">
	<div class="grid">
		<label class="form__label" for="price">Price</label>
		<input class="form__input" type="text" name="price" id="price" value="">
	</div>
</template>

<template name="formfield_description">
	<div class="grid">
		<label class="form__label" for="description">Beschreibung</label>
		<textarea class="form__input form__input--area" name="description" id="description" value=""></textarea>
	</div>
</template>


<!-- KONTAKT -->
<template name="formfield_email">
	<div class="grid">
		<label class="form__label" for="email">Email</label>
		<input class="form__input" type="text" name="email" id="email" value="">
	</div>
</template>

<template name="formfield_number">
	<div class="grid">
		<label class="form__label" for="number">Nummer</label>
		<input class="form__input" type="text" name="number" id="number" value="">
	</div>
</template>


<!-- IMAGES -->
<template name="formfield_image_side">
	<div class="grid">
		<label class="form__label" for="file-side">Seite</label>
		<input class="form__input fileinput" type="file" name="file" id="file-side" accept="image/*"> 
	</div>
</template>

<template name="formfield_image_front">
	<div class="grid">
		<label class="form__label" for="file-front">Vorne</label>
		<input class="form__input fileinput" type="file" name="file" id="file-front" accept="image/*"> 
	</div>
</template>

<template name="formfield_image_infront">
	<div class="grid">
		<label class="form__label" for="file_inside">Innen 1</label>
		<input class="form__input fileinput" type="file" name="file" id="file-inside" accept="image/*"> 
	</div>
</template>

<template name="formfield_image_inback">
	<div class="grid">
		<label class="form__label" for="file-inside2">Innen 2</label>
		<input class="form__input fileinput" type="file" name="file" id="file-inside2" accept="image/*"> 
	</div>
</template>