<template name="formfield_account_email">
	<div class="grid">
		<label class="form__label">Email</label>
		<input class="form__input" type="email" name="email" value="">
	</div>
</template>

<template name="formfield_account_firstname">
	<div class="grid">
		<label class="form__label">First Name</label>
		<input class="form__input" type="text" name="firstname" value="">
	</div>
</template>

<template name="formfield_account_lastname">
	<div class="grid">
		<label class="form__label">Last Name</label>
		<input class="form__input" type="text" name="lastname" value="">
	</div>
</template>

<template name="formfield_account_password">
	<div class="grid">
		<label class="form__label">Password</label>
		<input class="form__input" type="password" name="password" value="">
	</div>
</template>