//------------------------------------------------------------------------------------
// HEADER
//------------------------------------------------------------------------------------

	.header
		display: flex;
		
		height 60px;
		margin-bottom: 50px;
		background #fff;
		box-shadow: shadow;
		
	.header__container
		center(xlarge)
		width 100%;
		
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
