<!-- EMAIL -->
	<template name="account_formfield_email">
		<!-- Icon & Input -->
		<div class="field">
			<div class="ui left icon input">
				<i class="user icon"></i>
				<input type="text" name="email" placeholder="E-mail" value="">
			</div>
		</div>
	</template>

<!-- FIRST NAME -->
	<template name="account_formfield_firstname">
		<!-- Icon & Input -->
		<div class="field">
			<div class="ui left icon input">
				<i class="user icon"></i>
				<input type="text" name="firstname" placeholder="Firstname" value="">
			</div>
		</div>
	</template>

<!-- LAST NAME -->
	<template name="account_formfield_lastname">
		<!-- Icon & Input -->
		<div class="field">
			<div class="ui left icon input">
				<i class="user icon"></i>
				<input type="text" name="lastname" placeholder="Lastname" value="">
			</div>
		</div>
	</template>

<!-- PASSWORD -->
	<template name="account_formfield_password">
		<!-- Icon & Input -->
		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				<input type="password" name="password" placeholder="Password" value="">
			</div>
		</div>
	</template>