<template name="account_form_login">
	<!-- LOGIN: FACEBOOK & GOOGLE -->
	<div class="ui fluid buttons">
		<button class="ui button account_login_facebook">Login with Facebook</button>
		<button class="ui button account_login_google">Login with Google</button>
	</div>
	<div class="ui horizontal divider">Or</div>
	
	<!-- LOGIN: EMAIL -->
	<form class="ui form">
		{{> account_formfield_email}}
		{{> account_formfield_password}}
		<!-- CONTROLS -->
		<div class="ui buttons">
			<a class="ui button" href="/account_signup">Switch to: Signup</a>
			<button class="ui positive button" type="submit">Login</button>
		</div>                     
	</form>
</template>