//------------------------------------------------------------------------------------
// MNAV
//------------------------------------------------------------------------------------

	// MNAV - BASE--------------------------------------------------------------------
		.mnav
			display: flex;
			flex: 1;
			justify-content: flex-end;
			align-items: center;
			height: 60px;
			
		.mnav__user
			padding-right 20px; 
			
		.mnav__link
			padding: 0 padding;
			
			&:last-child
				padding-right: 0;
	
	// MNAV - DROPDOWN----------------------------------------------------------------
		.mnav__dropdown
			display: flex;
			align-items: center;

			height: 60px;
			position: relative;
			cursor: pointer;
			color: green;
			border-left: border;
			border-right: border;

			&.mnav__dropdown--active .mnav__dropdown__content
				display: block;
			
			i 
				margin: 0 20px;
				  		
		.mnav__dropdown__content
			display: none;
			width: 180px;
			background: #FFF;
			position: absolute;
			right: 0;
			margin: 60px 0 0 0;
			padding: padding;
			border-top: 3px solid green;
			box-shadow: shadow2;
			border-radius: radius;
			
			i 
				color: green;
				float right;
				
			a 
				display: block;
				color: black;
				padding: padding 0 0 0;
				
				&:first-child
					padding-top: 0;