<template name="account_form_login">
	<!-- LOGIN: FACEBOOK & GOOGLE -->
	<div class="ui basic fluid buttons">
		<button class="ui facebook button account_login_facebook">
			<i class="facebook icon"></i>
			Login with Facebook
		</button>
		<button class="ui google plus button account_login_google">
			<i class="google plus icon"></i>
			Login with Google
		</button>
	</div>

	<!-- DIVIDER -->
	<div class="ui horizontal divider">Or</div>
	
	<!-- LOGIN: EMAIL -->
	<form class="ui form form--account_login">
		{{> account_formfield_email}}
		{{> account_formfield_password}}
		<!-- CONTROLS -->
		<a class="ui basic button" href="/account_signup">Don't have an Account?</a>
		<button class="ui right floated positive button" type="submit">Login</button>
	</form>
</template>