<template name="sidebar_products">
	<div class="ui padded segment">
		<!-- TITLE -->
		<h3>
			{{#if currentUser}}
				Hi {{currentUser.profile.name}}
			{{else}}
				About
			{{/if}}
		</h3>
		<div class="ui divider"></div>

		<!-- CONTENT -->
		{{#if currentUser}}
			Nice that you're here. :-)<br>
		{{else}}
			How-To + About
			<a href="/account_login">Login to Sell</a>
		{{/if}}
	</div>
	{{#if currentUser}}
		<div class="ui fluid vertical menu">
			<a class="item" href="/products_add_rules">
				Sell a Car
			</a>
		</div>
		<div class="ui fluid vertical menu">
			<a class="item" href="/">
				All Offers
				<div class="ui small green label">{{products_count}}</div>
			</a>
			<a class="item" href="/my_products">
				My Offers
				<div class="ui small green label">{{my_products_count}}</div>
			</a>
			<a class="item" href="/favorite_products">
				My Favorites
				<div class="ui small green label">{{product_favorite_count}}</div>
			</a>
		</div>
	{{/if}}
</template>