<template name="sidebar_products">
	<div class="ui padded segment">
		<!-- TITLE -->
		<h3>
			{{#if currentUser}}
				<!-- Avatar -->
				{{#if currentUser.profile.picture}}
					<img class="ui avatar image" src="{{currentUser.profile.picture}}">
				{{/if}}
				{{currentUser.profile.name}}
			{{else}}
				About
			{{/if}}
		</h3>
		<div class="ui divider"></div>

		<!-- CONTENT -->
		{{#if currentUser}}
			Hi, nice that you're here. :-)<br>
		{{else}}
			<p>About-Text</p>
			<p>HowTo-Text</p>
			<a href="/account_login">Login to Sell</a>
		{{/if}}
	</div>
	{{#if currentUser}}
		<div class="ui fluid vertical menu">
			<a class="item" href="/products_add_rules">
				<span class="ui fluid small green button">Sell a Car</span>
			</a>
		</div>
		<div class="ui fluid vertical menu">
			<a class="item" href="/">
				All Offers
				<div class="ui small green label">{{products_count}}</div>
			</a>
			<a class="item" href="/products_user">
				My Offers
				<div class="ui small green label">{{products_user_count}}</div>
			</a>
			<a class="item" href="/products_favorites">
				My Favorites
				<div class="ui small green label">{{products_favorite_count}}</div>
			</a>
		</div>
	{{/if}}
</template>