<template name="products">
	<section class="panel main">
		<!-- TITLE -->
		<header class="panel__title">
			Alle Angebote
		</header>
		<!-- CONTENT -->
		<div class="panel__content">
			{{#each products}}
				<article class="product product--listview">
					<!-- TITLE -->
					<h1 class="product__title">
						{{model}}
					</h1>
					<!-- WRAPPER -->
					<div class="product__listwrapper">
						<div class="product__listimage">
							{{> productfield_image_side}}
						</div>
						<!-- CONTENT -->
						<div class="product__content">
							<div class="grid grid--half">
								{{ > productfield_built}}
								{{ > productfield_kilometers}}
							</div>
							<div class="grid grid--half">
								{{ > productfield_wof}}
								{{ > productfield_reg}}
							</div>
							{{ > productfield_price}}
						</div>
					</div>
					<!-- CONTROLS -->
					<div class="product__controls">
						<a class="button button--silent remove">Löschen</a>
						<a class="button" href="products_detail/{{this._id}}">Ansehen</a>
					</div>
				</article>
			{{/each}}
		</div>
	</section>
</template>