<template name="products_detail">
	<section class="panel main">
		<!-- TITLE -->
		<h1 class="panel__title">
			Details
		</h1>
		<!-- CONTENT -->
		<div class="panel__content">
			<article class="product">
				<!-- TITLE -->
				<h1 class="product__title">
					{{#if markedAsSold}}(verkauft){{/if}} {{model}}
				</h1>
				
				<!-- CONTENT -->
				<div class="product__content">
					<!-- DETAILS -->
					<span class="product__headline">Details</span>
					<div class="grid grid--half">
						{{ > productfield_built}}
						{{ > productfield_kilometers}}
					</div>
					<div class="grid grid--half">
						{{ > productfield_wof}}
						{{ > productfield_reg}}
					</div>
					{{ > productfield_price}}
					{{ > productfield_description}}
						
					<!-- CONTACT -->
					<span class="product__headline">Kontakt</span>
					{{#if markedAsSold}}
						<div class="grid">
							Sorry, aber dieses Auto wurde als "schon verkauft" markiert.
						</div>
					{{else}}
						<div class="grid grid--half">
							{{ > productfield_email}}
							{{ > productfield_number}}
						</div>
					{{/if}}
					
					<!-- IMAGES -->
					<span class="product__headline">Bilder</span>
					<div class="grid grid--half">
						{{ > productfield_image_side}}
						{{ > productfield_image_front}}
						{{ > productfield_image_infront}}
						{{ > productfield_image_inback}}
					</div>
				</div>

				<!-- CONTROLS -->
				{{> productcontrols}}
			</article>
		</div>
	</section>
</template>