<template name="hero">
	<div class="hero-container">
		<div class="hero-layer hero-layer-0" data-parallax-speed="0.05" data-max-scroll="565"></div>
		<div class="hero-layer hero-layer-1" data-parallax-speed="0.1" data-max-scroll="565"></div>
		<div class="hero-layer hero-layer-2" data-parallax-speed="0.3" data-max-scroll="565"></div>
		<div class="hero-layer hero-layer-3" data-parallax-speed="0.5" data-max-scroll="565"></div>
		<div class="hero-layer hero-layer-4" data-parallax-speed="0.7" data-max-scroll="565"></div>
		<div class="hero-layer hero-layer-5" data-parallax-speed="0.9" data-max-scroll="565"></div>
	</div>

</template>