<template name="filter">
	<div class="ui floating dropdown item" tabindex="0">
		<input type="hidden" name="filter">
		<div class="default text">Everything</div>
		<i class="dropdown icon"></i>
		<div class="ui borderless menu transition hidden header_filter" tabindex="-1">
			<!-- Filter: None -->
			<div class="item filter--everything">Everything</div>
			<!-- Filter: Type -->
			<div class="divider"></div>
			<div class="item filter--highlights">Highlights</div>
			<!-- Filter: Price -->
			<div class="divider"></div>
			<div class="item filter--price" data-filter="5500">$5500 max</div>
			<div class="item filter--price" data-filter="4500">$4500 max</div>
			<div class="item filter--price" data-filter="3500">$3500 max</div>
			<div class="item filter--price" data-filter="2500">$2500 max</div>
		</div>
	</div>
</template>