<!-- DETAILS -->
<template name="productfield_model">
	<div class="grid">
		<div class="product__label">Modell</div>
		<div class="product__detail">{{model}}</div>
	</div>
</template>

<template name="productfield_built">
	<div class="grid">
		<div class="product__label">Baujahr</div>
		<div class="product__detail">{{built}}</div>
	</div>
</template>

<template name="productfield_kilometers">
	<div class="grid">
		<div class="product__label">Kilometers</div>
		<div class="product__detail">{{kilometers}}</div>
	</div>
</template>

<template name="productfield_reg">
	<div class="grid">
		<div class="product__label">REG</div>
		<div class="product__detail">{{reg}}</div>
	</div>
</template>

<template name="productfield_wof">
	<div class="grid">
		<div class="product__label">WOF</div>
		<div class="product__detail">{{wof}}</div>
	</div>
</template>

<template name="productfield_price">
	<div class="grid">
		<div class="product__label">Preis</div>
		<div class="product__detail">{{price}}</div>
	</div>
</template>

<template name="productfield_description">
	<div class="grid">
		<div class="product__label">Beschreibung</div>
		<div class="product__detail">{{description}}</div>
	</div>
</template>


<!-- KONTAKT -->
<template name="productfield_email">
	<div class="grid">
		<div class="product__label">Email</div>
		<div class="product__detail">{{email}}</div>
	</div>
</template>

<template name="productfield_number">
	<div class="grid">
		<div class="product__label">Nummer</div>
		<div class="product__detail">{{number}}</div>
	</div>
</template>


<!-- IMAGES -->
<template name="productfield_image_side">
	{{#each sideimages}}
		<a href="{{this.url}}" target="_blank">
			<img src="{{this.url uploading='loader-uploading.gif' storing='loader-storing.gif'}}"/>
		</a>
	{{/each}}
</template>
<template name="productfield_image_front">
	Image Front
</template>
<template name="productfield_image_infront">
	Image Infront
</template>
<template name="productfield_image_inback">
	Image Inback
</template>