<template name="product_controls">
	{{#if currentUsersProduct}}
		<!-- Options-Dropdown -->
		<div class="ui floating icon dropdown button">
			<i class="setting icon"></i>
			<div class="ui menu transition hidden">
				<!-- Edit -->
				<a class="ui item" href="/products_detail/{{this._id}}/{{this.model}}/edit">
					<i class="edit icon"></i>Edit
				</a>
				<!-- Remove -->
				<a class="ui item remove">
					<i class="delete icon"></i>Remove
				</a>
				<!-- Mark as sold -->
				{{> product_availability_link}}
				<!-- Pdf & Highlight -->
				<div class="divider"></div>
				<a href="/products_pdf_instructions" class="ui item instructions--pdf">
					<i class="file text outline icon"></i>Generate PDF
				</a>
				<a href="/products_highlight_instructions" class="ui item instructions--highlight">
					<i class="empty star icon"></i>Highlight
				</a>
			</div>
		</div>
	{{/if}}
</template>