<template name="dropdown_account">
	{{#if currentUser}}
		<div class="ui floating dropdown item" tabindex="0">
			Account
			<i class="dropdown icon"></i>
			<div class="ui borderless menu transition hidden" tabindex="-1">
				<!-- Logout -->
				<a class="item" href="/account_logout">Logout</a>
				<div class="divider"></div>
				<!-- Add Product -->
				<a class="item" href="/products_add_rules">
					Sell a Car
				</a>
				<div class="divider"></div>
				<!-- Products -->
				<a class="item" href="/">
					All Offers
				</a>
				<!-- My Products -->
				<a class="item" href="/my_products">
					My Offers
				</a>
				<!-- Favorites -->
				<a class="item" href="/favorite_products">
					My Favorites
				</a>
			</div>
		</div>
	{{/if}}
</template>