<template name="dropdown_account">
	{{#if currentUser}}
		<div class="ui floating dropdown item" tabindex="0">
			My Account
			<i class="dropdown icon"></i>
			<div class="menu transition hidden" tabindex="-1">
				<!-- Add Product -->
				<a href="/products_add_rules" class="item">
					Sell a Car
				</a>
				<div class="divider"></div>
				<!-- Products -->
				<a href="/" class="item">
					All Offers
				</a>
				<!-- My Products -->
				<a href="/my_products" class="item">
					My Offers
				</a>
				<!-- Favorites -->
				<a href="/favorite_products" class="item">
					My Favorites
				</a>
			</div>
		</div>
	{{/if}}
</template>